.container-of-card{
    margin:10px ;
    padding: 20px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .card-img{
    height: 100px;
    width: 100px;
    display: block;
    margin: 10px auto;
    
    }
    .card-title{
     font-size: 30px;
     text-align: center;
     font-weight: bold;
     margin: 0px;
    }
    .card-description{
        text-align: center;
        font-weight: 600;
        margin: 10px;
    
    }