.card-container{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin-top: 70px;
}
.card-div{
    width: 600px;
    height: 700px;
    
    padding: 20px;
   
}
.hading{
    font-size: 60px;
    margin-top: 30px;
    padding: 10px;
    margin-left: 20px;

}
.titile{
    margin-top: 40px;
    font-size: 25px;
    
}
.btn{
    background-color:hwb(36 2% 5%);
    padding: 8px 20px;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}
.btn:hover{
    background-color:hwb(36 2% 5%);
    padding: 8px 20px;
    color: rgb(0, 0, 0);
}
.A-img-1{
    height: 290px;
    margin: 20px;
}


.A-img-2{
    height: 220px;
    margin: 20px;
}
.A-card{
    height: 750px;
    width: 620px;  
}
.container-obj{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
.hading-about{
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    font-size: 50px;
}
.card-of-about{
    height: 700px;
    width: 600px;
    margin-top: 50px;
    margin: 0px;
    padding: 10px;
    
}
.hading-of-about{
    text-align: center;
    margin: 30px;
    font-weight: bold;
}
.title-of-about{
text-align: center;
margin: 40px;
font-weight: 400;
font-size: 19px;
}
.img-of-about{
   height: 800px;
  
  
}
.map-card{
    background-color: #fafafa;
    height: 590px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
}
.map-div{
   
}
.input-tex{
    font-size: 20px;
    padding: 8px;
    margin: 20px;
    width: 550px;
   
    font-weight: 400;
}
.input-tex-msg{
    font-size: 20px;
    padding: 8px;
    margin: 20px;
    width: 550px;
    height: 200px;
    background-color: #fafafa;
    font-weight: 400;
  
}
.message-btn{
    width: 500px;
    display: block;
    margin: 10px auto;
    padding: 8px;
    background-color:hwb(36 2% 5%);
    color: #fafafa;
    font-weight: bold;
    border: none;
}

@media screen and (max-width: 350px){
    .hading{
        font-size: 30px;
    }
    .titile{
        margin-top: 20px;
    font-size: 18px;
        
    }
    .btn{    
        padding: 5px 10px;
    }
    .A-img-1{
        height: 210px;
        margin: 15px;
    }
    
    
    .A-img-2{
        height: 120px;
        margin: 15px;
    }

    .img-of-about{
        height: 600px;
       
       
     }
     
.hading-of-about{
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
.title-of-about{
text-align: center;
margin: 20px;
font-weight: 400;
font-size: 13px;
}
.hading-about{
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    font-size: 50px;
}
}